<section id="about-me" class="section about-me-section">
  <h2 class="visually-hidden">About me</h2>
  <div class="container flex">
    <section class="first">
      <ul class="about-me-menu">
        <li class="about-me-menu-list">
          <div class="about-me-box">
            <p class="about-me-text">
              I work with people all over the world to create impressive and
              <span class="about-me-functional">functional</span>
              <span class="about-me-websites">websites</span> that reflect each
              client's unique personality.
            </p>
          </div>
        </li>
        <li class="about-me-menu-list">
          <picture>
            <!-- Tablet screen and Desktop screen  -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/about_me/tablet_and_desktop/large_about_image.jpeg    1x,
                ./img/about_me/tablet_and_desktop/large_about_image@2x.jpeg 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/about_me/mobile/about_me_mobile_photo.jpeg    1x,
                ./img/about_me/mobile/about_me_mobile_photo@2x.jpeg 2x
              "
              type="image/jpg"
            />
            <img
              class="about-me-img"
              src="./img/about_me/mobile/about_me_mobile_photo.jpeg"
            />
          </picture>
        </li>
      </ul>
    </section>
    <section class="second">
      <div class="accordion-wrapper">
        <div class="accordion ac">
          <h2 class="accordion-header ac-header">
            about me
            <button type="button" class="accordion-button ac-trigger">
              <svg class="arrow">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
            </button>
          </h2>
          <div class="accordion-panel ac-panel">
            <ul class="about-me-menu-text">
              <li class="about-me-menu-text-list">
                <p>
                  I am Lloyd Jefferson, a talented programmer with extensive
                  expertise in software development. I have an understanding of
                  different programming languages ​​and technologies, always
                  ready to improve my skills. I always follow the latest trends
                  and look for unconventional, creative solutions to problems. I
                  have a high level of analytical skills and am able to
                  effectively solve even the most difficult tasks encountered on
                  the way.
                </p>
              </li>
              <li class="about-me-menu-text-list">
                <p>
                  Able to work both independently and in a team. I can
                  effectively cooperate with colleagues, exchanging ideas and
                  finding optimal solutions. Professional maturity allows you to
                  calmly cope with challenges and stressful situations, while
                  maintaining a high quality of work.I am always looking for
                  opportunities for self-improvement. I actively study new
                  technologies and practices to stay abreast of the latest
                  innovations. I have a strong understanding of various
                  programming languages, frameworks and architectural concepts
                  that allow me to create efficient and scalable software.
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="accordion ac">
          <h2 class="accordion-header ac-header">
            role
            <button type="button" class="accordion-button ac-trigger">
              <svg class="arrow">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
            </button>
          </h2>
          <div class="accordion-panel ac-panel">
            <ul class="about-me-menu-role">
              <li class="about-me-menu-role-list">
                <p>Frontend development</p>
              </li>
              <li class="about-me-menu-role-list">
                <p>HeadlessCMS,Wordpress</p>
              </li>
              <li class="about-me-menu-role-list">
                <p>Blender(enjoy)</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="accordion ac">
          <h2 class="accordion-header ac-header">
            education
            <button type="button" class="accordion-button ac-trigger">
              <svg class="arrow">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
            </button>
          </h2>
          <div class="accordion-panel ac-panel">
            <ul class="about-me-menu-education">
              <li class="about-me-menu-education-list">
                <p>
                  2018 - 2019 / Frontend Development Diploma, GoIT IT School,
                  New York
                </p>
              </li>
              <li class="about-me-menu-education-list">
                <p>
                  2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                  School, New York
                </p>
              </li>
              <li class="about-me-menu-education-list">
                <p>
                  2020 - 2022 / Advanced Blender Animation Techniques, Udemy
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="third">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="swiper-slide-container"><p>HTML/CSS</p></div>
          </div>
          <div class="swiper-slide" style="width: 131.5px">
            <div class="swiper-slide-container"><p>JavaScript</p></div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-container"><p>React</p></div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-container"><p>Node.js</p></div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-container"><p>React Native</p></div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-container"><p>Soft Skills</p></div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-container"><p>Git</p></div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-container"><p>Node js</p></div>
          </div>
        </div>
      </div>
      <button type="button" class="arrow-next">
        <svg class="arrow-next-svg">
          <use href="./img/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </section>
  </div>
</section>
