<section class="benefits-section section">
  <div class="container">
    <h3 class="benefits-title">Benefits of working with me</h3>
    <ul class="benefits-list">
      <li class="benefits-item">
        <div class="benefits-item-icon-container">
          <svg class="benefits-item-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-user"></use>
          </svg>
        </div>
        <div class="benefits-item-text-container">
          <h4 class="benefits-item-title">Expertise</h4>
          <p class="benefits-item-text">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-item-icon-container">
          <svg class="benefits-item-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-message-chat"></use>
          </svg>
        </div>
        <div class="benefits-item-text-container">
          <h4 class="benefits-item-title">Communication</h4>
          <p class="benefits-item-text">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-item-icon-container">
          <svg class="benefits-item-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-time"></use>
          </svg>
        </div>
        <div class="benefits-item-text-container">
          <h4 class="benefits-item-title">Art</h4>
          <p class="benefits-item-text">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-item-icon-container">
          <svg class="benefits-item-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-brush"></use>
          </svg>
        </div>
        <div class="benefits-item-text-container">
          <h4 class="benefits-item-title">Urgent execution</h4>
          <p class="benefits-item-text">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </div>
      </li>
    </ul>
    <a
      class="benefits-anchor-btn"
      role="button"
      aria-label="order the project"
      href="#order"
      >Order the project</a
    >
  </div>
</section>
