<section id="covers" class="container">
  <h2 class="visually-hidden">Projects covers</h2>
  <div id="covers-container">
    <ul class="covers-list">
      <!-- tablet same as desktop -->
      <li class="covers-item"><img srcset="
              ./img/covers/mobile/mobile_project1.png          283w,
              ./img/covers/mobile/mobile_project1@2x.png       565w,
              ./img/covers/tablet/tablet_project1.png          544w,
              ./img/covers/tablet/tablet_project1@2x.png       1088w,
              " src="./img/covers/mobile/mobile_project1.png" alt="Project 1"
              loading="lazy"
          sizes="(min-width: 768px) 544px, (max-width: 767px) 283px">
      </li>
      <li class="covers-item"><img srcset="
              ./img/covers/mobile/mobile_project2.png          283w,
              ./img/covers/mobile/mobile_project2@2x.png       565w,
              ./img/covers/tablet/tablet_project2.png          544w,
              ./img/covers/tablet/tablet_project2@2x.png       1088w,
              " src="./img/covers/mobile/mobile_project2.png" 
              alt="Project 2" loading="lazy"
          sizes="(min-width: 768px) 544px, (max-width: 767px) 283px">
      </li>
      <li class="covers-item"><img srcset="
              ./img/covers/mobile/mobile_project3.png          283w,
              ./img/covers/mobile/mobile_project3@2x.png       565w,
              ./img/covers/tablet/tablet_project3.png          544w,
              ./img/covers/tablet/tablet_project3@2x.png       1088w,
              " src="./img/covers/mobile/mobile_project3.png" 
              alt="Project 3" loading="lazy"
          sizes="(min-width: 768px) 544px, (max-width: 767px) 283px">
      </li>
      <li class="covers-item"><img srcset="
              ./img/covers/mobile/mobile_project4.png          283w,
              ./img/covers/mobile/mobile_project4@2x.png       565w,
              ./img/covers/tablet/tablet_project4.png          544w,
              ./img/covers/tablet/tablet_project4@2x.png       1088w,
              " src="./img/covers/mobile/mobile_project4.png" 
              alt="Project 4" loading="lazy"
          sizes="(min-width: 768px) 544px, (max-width: 767px) 283px">
      </li>
      <li class="covers-item"><img srcset="
              ./img/covers/mobile/mobile_project5.png          283w,
              ./img/covers/mobile/mobile_project5@2x.png       565w,
              ./img/covers/tablet/tablet_project5.png          544w,
              ./img/covers/tablet/tablet_project5@2x.png       1088w,
              " src="./img/covers/mobile/mobile_project5.png"
               alt="Project 5" loading="lazy"
          sizes="(min-width: 768px) 544px, (max-width: 767px) 283px">
      </li>
      <li class="covers-item"><img srcset="
              ./img/covers/mobile/mobile_project6.png          283w,
              ./img/covers/mobile/mobile_project6@2x.png       565w,
              ./img/covers/tablet/tablet_project6.png          544w,
              ./img/covers/tablet/tablet_project6@2x.png       1088w,
              " src="./img/covers/mobile/mobile_project6.png"
               alt="Project 6" loading="lazy"
          sizes="(min-width: 768px) 544px, (max-width: 767px) 283px">
      </li>
      <li class="covers-item"><img srcset="
              ./img/covers/mobile/mobile_project7.png          283w,
              ./img/covers/mobile/mobile_project7@2x.png       565w,
              ./img/covers/tablet/tablet_project7.png          544w,
              ./img/covers/tablet/tablet_project7@2x.png       1088w,
              " src="./img/covers/mobile/mobile_project7.png" 
              alt="Project 7" loading="lazy"
          sizes="(min-width: 768px) 544px, (max-width: 767px) 283px">
      </li>
      <li class="covers-item"><img srcset="
              ./img/covers/mobile/mobile_project8.png          283w,
              ./img/covers/mobile/mobile_project8@2x.png       565w,
              ./img/covers/tablet/tablet_project8.png          544w,
              ./img/covers/tablet/tablet_project8@2x.png       1088w,
              " src="./img/covers/mobile/mobile_project8.png"
              alt="Project 8" loading="lazy"
          sizes="(min-width: 768px) 544px, (max-width: 767px) 283px">
      </li>
      <li class="covers-item"><img srcset="
              ./img/covers/mobile/mobile_project9.png          283w,
              ./img/covers/mobile/mobile_project9@2x.png       565w,
              ./img/covers/tablet/tablet_project9.png          544w,
              ./img/covers/tablet/tablet_project9@2x.png       1088w,
              " src="./img/covers/mobile/mobile_project9.png" 
              alt="Project 9" loading="lazy"
          sizes="(min-width: 768px) 544px, (max-width: 767px) 283px">
      </li>
      <li class="covers-item"><img srcset="
              ./img/covers/mobile/mobile_project10.png          283w,
              ./img/covers/mobile/mobile_project10@2x.png       565w,
              ./img/covers/tablet/tablet_project10.png          544w,
              ./img/covers/tablet/tablet_project10@2x.png       1088w,
              " src="./img/covers/mobile/mobile_project10.png" 
              alt="Project 10" loading="lazy"
          sizes="(min-width: 768px) 544px, (max-width: 767px) 283px">
      </li>
    </ul>
  </div>
</section>