<section class="section faq-section" id="faq">
  <div class="container">
    <h2 class="faq-header">FAQ</h2>
    <ul class="accordion-container faq-list">
      <li class="ac faq-item faq-item-first">
        <h3 class="ac-header faq-item-header">
          <button type="button" class="ac-trigger faq-item-btn" >
            What programming languages ​​are most often used in your project?
            <span class="faq-icon">
              <svg class="icon-down">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
              <svg class="icon-top">
                <use href="./img/icons.svg#icon-top"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel faq-item-content">
          <p class="ac-text faq-item-text">
            In the field of web development, there are various technologies and programming languages. Typically, this
            includes a combination of frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac faq-item faq-item-second">
        <h3 class="ac-header faq-item-header">
          <button type="button" class="ac-trigger faq-item-btn">
            What are the deadlines for the project?
            <span class="faq-icon">
              <svg class="icon-down">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
              <svg class="icon-top">
                <use href="./img/icons.svg#icon-top"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel faq-item-content">
          <p class="ac-text faq-item-text">
            The terms of project implementation depend to a large extent on a number of factors, such as the scope of
            the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult
            task, and it usually occurs during the planning phase of the project.
          </p>
        </div>
      </li>

      <li class="ac faq-item faq-item-third">
        <h3 class="ac-header faq-item-header">
          <button type="button" class="ac-trigger faq-item-btn">
            What payment methods do you accept?
            <span class="faq-icon">
              <svg class="icon-down">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
              <svg class="icon-top">
                <use href="./img/icons.svg#icon-top"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel faq-item-content">
          <p class="ac-text faq-item-text">
            Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such
            as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h3 class="ac-header faq-item-header">
          <button type="button" class="ac-trigger faq-item-btn">
            How can I contact you?
            <span class="faq-icon">
              <svg class="icon-down">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
              <svg class="icon-top">
                <use href="./img/icons.svg#icon-top"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel faq-item-content">
          <p class="ac-text faq-item-text">
            In the field of web development, there are various technologies and programming languages. Typically, this
            includes a combination of frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h3 class="ac-header faq-item-header">
          <button type="button" class="ac-trigger faq-item-btn">
            Do you provide advice or support?
            <span class="faq-icon">
              <svg class="icon-down">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
              <svg class="icon-top">
                <use href="./img/icons.svg#icon-top"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel faq-item-content">
          <p class="ac-text faq-item-text">
            The terms of project implementation depend to a large extent on a number of factors, such as the scope of
            the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult
            task, and it usually occurs during the planning phase of the project.
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h3 class="ac-header faq-item-header">
          <button type="button" class="ac-trigger faq-item-btn">
            What does the process of developing a software product look like from idea to implementation?
            <span class="faq-icon">
              <svg class="icon-down">
                <use href="./img/icons.svg#icon-down"></use>
              </svg>
              <svg class="icon-top">
                <use href="./img/icons.svg#icon-top"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel faq-item-content">
          <p class="ac-text faq-item-text">
            Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such
            as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>