<header class="header" id="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="header-link-logo" href="./index.html">
          <img
            class="header-img"
            srcset="
              ./img/header/header_avatar.png     80w,
              ./img/header/header_avatar@2x.png 160w
            "
            sizes="(min-width: 768px) 80px, (max-width: 768px) 80px"
            src="./img/header/header_avatar.png"
            alt="avatar_person"
          />
          <svg class="header-svg-icon" width="84" height="19">
            <use href="../img/icons.svg#logo"></use>
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <button class="header_menu" type="button">Menu</button>
      </li>
      <li class="nav-item">
        <a href="#order" class="header_order_btn">Order the project</a>
      </li>
      <li class="nav-item">
        <div class="close">
          <div class="burger"></div>
        </div>
      </li>
    </ul>
    <ul class="list-menu-header">
      <li class="list-menu-header-item"><a href="#about-me">About me</a></li>
      <li class="list-menu-header-item"><a href="#benefits">Benefits</a></li>
      <li class="list-menu-header-item"><a href="#projects">Projects</a></li>
      <li class="list-menu-header-item"><a href="#faq">FAQ</a></li>
    </ul>
  </nav>
</header>
<div class="mob-menu">
  <div class="container-mob-menu">
    <ul class="list-open-modal">
      <li class="list-open-item"><a href="#about-me">About me</a></li>
      <li class="list-open-item"><a href="#benefits">Benefits</a></li>
      <li class="list-open-item"><a href="#projects">Projects</a></li>
      <li class="list-open-item"><a href="#faq">FAQ</a></li>
    </ul>
    <a href="#order" class="header_modal_order_btn">Order the project</a>
  </div>
  <div class="close-modal">
    <div class="burger-modal"></div>
  </div>
</div>

