<section id="#hero" class="hero-section section-decor">
  <div class="container">
    <!-- тут пиши код -->
    <h1 class="hero-title responsive-heading">
      <span class="first-line">Hello.</span>
      <span class="second-line text"></span>
    </h1>
    <!-- bottom btns -->
    <div class="buttons">
      <ul class="social-list">
        <li class="item item-1">
          <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
        </li>
        <li class="item item-2">
          <a href="https://www.facebook.com/goITclub/ " target="_blank">FB</a>
        </li>
        <li class="item item-3">
          <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
        </li>
        <li class="item">
          <a
            href="https://github.com/fulaytar/team_project_Portfolio"
            target="_blank"
            >GH</a
          >
        </li>
      </ul>
      <!-- Mail to btn -->
      <button class="mail-btn" type="button">
        <a href="mailto:lloydjefferson@gmail.com" target="_blank"
          >lloydjefferson@gmail.com</a
        >
      </button>
    </div>
  </div>
</section>
