<section class="section section-projects">
  <div class="container">
    <h2 class="title-projects">projects</h2>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_1.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_1.jpeg     614w,
                ./img/projects/mobile/mobile_projects_1@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_1@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/Portfolio/image.png"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_2.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_2.jpeg     614w,
                ./img/projects/mobile/mobile_projects_2@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_2@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/Portfolio/image.png"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_3.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_3.jpeg     614w,
                ./img/projects/mobile/mobile_projects_3@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_3@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/Portfolio/image.png"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_1.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_1.jpeg     614w,
                ./img/projects/mobile/mobile_projects_1@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_1@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/projects/mobile/mobile_projects_1.jpeg"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_1.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_1.jpeg     614w,
                ./img/projects/mobile/mobile_projects_1@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_1@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="../img/projects/mobile/mobile_projects_1.jpeg"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_1.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_1.jpeg     614w,
                ./img/projects/mobile/mobile_projects_1@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_1@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/projects/mobile/mobile_projects_1.jpeg"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_1.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_1.jpeg     614w,
                ./img/projects/mobile/mobile_projects_1@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_1@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/projects/mobile/mobile_projects_1.jpeg"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_1.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_1.jpeg     614w,
                ./img/projects/mobile/mobile_projects_1@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_1@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/projects/mobile/mobile_projects_1.jpeg"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_1.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_1.jpeg     614w,
                ./img/projects/mobile/mobile_projects_1@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_1@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/projects/mobile/mobile_projects_1.jpeg"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_1.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_1.jpeg     614w,
                ./img/projects/mobile/mobile_projects_1@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_1@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/projects/mobile/mobile_projects_1.jpeg"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_1.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_1.jpeg     614w,
                ./img/projects/mobile/mobile_projects_1@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_1@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/projects/mobile/mobile_projects_1.jpeg"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_1.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_1.jpeg     614w,
                ./img/projects/mobile/mobile_projects_1@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_1@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/projects/mobile/mobile_projects_1.jpeg"
              alt="screen project"
            />
          </div>
        </li>
        <li class="swiper-slide">
          <div class="slide-description">
            <ul class="slide-description-programs">
              <li class="slide-description-programs-item">#react</li>
              <li class="slide-description-programs-item">#js</li>
              <li class="slide-description-programs-item">#node.js</li>
              <li class="slide-description-programs-item">#git</li>
            </ul>
            <p class="slide-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="slide-description-button"
              href="https://fulaytar.github.io/team_project_Portfolio/"
            >
              <p>See project</p>
            </a>
          </div>
          <div class="slide-wrapper-img">
            <img
              class="slide-img"
              srcset="
                ./img/projects/mobile/mobile_projects_1.jpeg                311w,
                ./img/projects/tablet_and_desktop/large_projects_1.jpeg     614w,
                ./img/projects/mobile/mobile_projects_1@2x.jpeg             622w,
                ./img/projects/tablet_and_desktop/large_projects_1@2x.jpeg 1228w
              "
              sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
              src="./img/projects/mobile/mobile_projects_1.jpeg"
              alt="screen project"
            />
          </div>
        </li>
      </ul>
      <!-- If we need navigation buttons -->
    </div>
    <div class="wrapper-btn-arrows">
      <div class="swiper-button-prev swiper-btn-prev">
        <svg class="btn-arrow-prev">
          <use href="./img/icons.svg#arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next swiper-btn-next">
        <svg class="btn-arrow-next">
          <use href="./img/icons.svg#arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
