<section class="section reviews-section" id="reviews">
  <div class="reviews-container container ">
    <h2 class="reviews-header">Reviews</h2>
    <div class="swiper">
      <ul class="reviews swiper-wrapper"></ul>
      <div class="arrows">
        <div class="swiper-button-prev">
        <svg class="swiper-arrow-prev">
          <use href="./img/icons.svg#arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper-arrow-next">
          <use href="./img/icons.svg#arrow-right"></use>
        </svg>
    </div>
      </div>
      
    
  </div>
</section>

