.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | About me
  |============================
*/

.about-section {
  background-color: var(--main-black-color);
  color: var(--accent-white-color);
  overflow: hidden;
  padding-top: 64px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-me-text-box {
  height: 500px;
  margin-bottom: 16px;
  background-color: var(--secondary-color);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
}

.about-me-title {
  font-family: var(--font-cap-medium);
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--accent-white-color);
}

.about-image {
  border-radius: 24px;
}

.about-me-functional {
  color: var(--accent-color);
}

.about-me-websites {
  color: rgba(250, 250, 250, 0.4);
}

@media screen and (min-width: 768px) {
  .about-wrapper {
    gap: 64px;
  }

  .about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .about-me-text-box {
    width: 704px;
    height: 700px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 64px;
  }

  .about-me-title {
    font-size: 38px;
    line-height: 105%;
  }

  .about-image {
    width: 704px;
    height: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    flex-direction: row;
  }

  .about-section {
    padding-top: 96px;
  }

  .about-image {
    width: 680px;
    height: 700px;
  }

  .about-wrapper {
    gap: 64px;

  }
}

/**
  |============================
  | Accordion
  |============================
*/

.about-item {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  box-sizing: border-box;
}

.about-item-header {
  margin: 0;
  padding: 0;
}

.about-item-btn {
  text-align: left;
  width: 100%;
  display: block;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.25s ease;
  position: relative;
  text-decoration: none;
  margin: 0;
  border: 0;
  font-family: var(--font-cap-semibold);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);

  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 32px;

}

.about-icon {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 36px;
  height: 36px;
  position: absolute;
  right: 0;
}

.about-icon-down {
  fill: #FAFAFA;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 8px;
}

.about-item-content {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.about-item-text {
  margin: 0;
  font-family: var(--font-cap-medium);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--accent-white-color);
  padding-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.about-item.js-enabled .about-item-content {
  visibility: hidden;
}

.about-item.is-active .about-item-content {
  visibility: visible;
}

.about-item.is-active>.about-item-header .about-icon-down {
  visibility: hidden;
}

.about-icon-top {
  visibility: hidden;
}

.about-item.is-active>.about-item-header .about-icon-top {
  visibility: visible;
  fill: #FAFAFA;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 8px;

}

@media screen and (min-width: 768px) {
  .about-icon {
    top: 32px;
    width: 40px;
    height: 40px;
  }

  .about-icon-down {
    top: 10px;
    left: 10px;
  }

  .about-item.is-active>.about-item-header .about-icon-top {
    top: 10px;
    left: 10px;
  }

  .about-item-btn {
    padding-top: 32px;
    padding-bottom: 44px;
  }

  .about-item-text {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .about-item-text {
    width: 50%;
    margin-left: auto;
    padding-right: 63px;
    padding-left: 20px;
  }
}


/**
  |============================
  | Swiper
  |============================
*/

.swiper-slide-active .swiper-slide-container {
  background-color: var(--accent-color);
  overflow: hidden;
}

.swiper-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100%;
}

.swiper-slide-container {
  font-family: var(--font-cap-medium);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.third {
  position: relative;
}

.arrow-next {
  background: transparent;
  line-height: 0;
  border: none;
  fill: none;
}

.third .sbn .arrow-next .arrow-next-svg {
  width: 28px;
  height: 28px;
  stroke: var(--dark-grey-color);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third .sbn .arrow-next .arrow-next-svg:hover {
  stroke: var(--accent-white-color);
}

.third .sbn {
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.third .swiper2 {
  width: 260px;
  margin: 0;
}

@media screen and (min-width: 768px) {

  .swiper-slide-container {
    width: 200px;
    height: 200px;
  }

  .third .swiper {
    width: 600px;
  }

  .third .sbn .arrow-next .arrow-next-svg {
    width: 40px;
    height: 40px;
  }

  .swiper-slide-container {
    font-size: 20px;
  }

  @media screen and (min-width: 1440px) {
    .third .swiper {
      width: 1200px;
    }
  }
}