.container{
    padding-left: 16px;
    padding-right: 16px;
}
.footer{
    padding-bottom: 32px;
}
.hero-section{
    padding-bottom: 32px;
}
.section{
    padding-bottom: 64px;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    
    .section {
        padding-bottom: 96px;
    }
    .footer {
        padding-bottom: 169px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .section {
        padding-bottom: 164px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}