:root {
    --font-cap-black: 'InterTightBlack', sans-serif;
    --font-cap-light: 'InterTightLight', sans-serif;
    --font-cap-extralight: 'InterTightExtraLight', sans-serif;
    --font-cap-bold: 'InterTightBold', sans-serif;
    --font-cap-extrabold: 'InterTightExtraBold', sans-serif;
    --font-cap-regular: 'InterTightRegular', sans-serif;
    --font-cap-semibold: 'InterTightSemiBold', sans-serif;
    --font-cap-thin: 'InterTightThin', sans-serif;
    --font-cap-medium: 'InterTightMedium', sans-serif;
    --main-black-color: #1C1D20;
    --secondary-color: #242527;
    --dark-grey-color: #3B3B3B;
    --accent-color: #ED3B44;
    --accent-white-color: #FAFAFA
}
main{
    background-color: var(--main-black-color)
}
.star {
    transform-style: preserve-3d;
    width: 1px;
    height: 1px;
    position: absolute;
    color: red;
}

.star:before {
    position: absolute;
    content: '\2726';
    color: inherit;
    inset: 0;
    /* box-shadow: 0 0 1em .5em #a3c2; */
    /* filter: drop-shadow(0 0 .5em white); */ 
    text-shadow: 0 0 .8em #fff5;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1;
    overflow-x: hidden;
    font-family: var(--font-cap-regular);
    font-weight: normal;
    opacity: 1;
}

.container{
    padding-left: 16px;
    padding-right: 16px;
}
.footer{
    padding-bottom: 32px;
}
.hero-section{
    padding-bottom: 32px;
}
.section{
    padding-top: 32px;
    padding-bottom: 32px;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    
    .section {
        padding-bottom: 48px;
        padding-top: 48px;
    }
    .footer {
        padding-bottom: 169px;
    }
}


@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
    .section {
        padding-bottom: 82px;
        padding-top: 82px;
    }
}