.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

#covers {
    background-color: var(--secondary-color);
    background-image: radial-gradient(circle at 40% 20%, rgba(237, 59, 68, 0.6) 0%, rgba(237, 59, 68, 0) 20%),
        radial-gradient(circle at 10% 50%, rgba(237, 59, 68, 0.6) 0%, rgba(237, 59, 68, 0) 20%),
        radial-gradient(circle at 80% 80%, rgba(237, 59, 68, 0.6) 0%, rgba(237, 59, 68, 0) 20%);

    overflow: hidden;
    height: 508px;
}

/* media for size of cover section*/
@media screen and (min-width: 768px) {
    #covers {
        height: 960px;
    }
}

/* end */

#covers-container {
    transform: rotate(16deg);
}

.covers-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, max-content);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.covers-list>li {
    grid-column: span 4;
}

.covers-list>li:nth-child(7n + 1) {
    grid-column: 3/span 4;
}

.covers-list>li:nth-child(7n + 3) {
    grid-column: span 4/-3;
}

/* animation */

.animate-marquee {
    animation-name: marqueeLine;
    animation-duration: 25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes marqueeLine {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-70%);
    }

    100% {
        transform: translateY(0);
    }
}