/* Стилі шрифтів та кольори

=========Дефолтні===========
font-family: var(--font-cap-regular)
===========================

========Приклад як прописувати=====
font-family: var(--font-cap-extrabold);
==========================

-------Список жирності----
100   var(--font-cap-thin)
200   var(--font-cap-extralight)
300   var(--font-cap-light)
400   var(--font-cap-regular)
500   var(--font-cap-medium)
600   var(--font-cap-semibold)
700   var(--font-cap-bold) 
800   var(--font-cap-extrabold)
900   var(--font-cap-black)
-------Список жирності ----

=======Кольори======
--main-black-color: #1C1D20;
--secondary-color: #242527;
--dark-grey-color: #3B3B3B;
--accent-color: #ED3B44;
--accent-white-color: #FAFAFA;
=======Кольори======

====Як прописувати колір====
color: var(--main-black-color);
====Як прописувати колір====
*/
.header-svg-icon {
    fill: var(--accent-white-color);
}

.header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    position: absolute;
    left: 0;
    right: 0;
    background: transparent;
}

.nav {
    display: flex;
}

.header-link-logo {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
}

.nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.close {
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;

}

.burger {
    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
}


.burger:before {
    display: block;
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--accent-white-color);
    top: 7px;
    border-radius: 2px;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);

}

.burger:after {
    display: block;
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--accent-white-color);
    top: 15px;
    border-radius: 2px;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger:before {
    transform: rotate(0deg);
}

.burger:after {
    transform: rotate(0deg);
}

.close .burger.activ-burger:before {
    transform: rotate(-135deg);
    bottom: 0;
    top: 50%;
}

.close .burger.activ-burger:after {
    transform: rotate(135deg);
    top: 50%;
}

.nav-item:nth-child(2),
.nav-item:nth-child(3) {
    display: none;
}

.list-menu-header {
    display: none;
}


.mob-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero/Hero-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 99999999;
    /*далі йде приховування*/
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .hero-section {
        background-image: url(../img/hero/Hero-mobile@2x.png);
    }
}
@media screen and (max-width:767px) {

    /*===================Активація бекдропу==========================*/
    .is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    /*===================Активація бекдропу==========================*/
    .container-mob-menu {
        position: relative;
        text-align: center;
        height: 100vh;
        display: flex;
        justify-content: end;
        flex-direction: column;
    }

    .close-modal {
        position: absolute;
        top: 32px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;


    }

    .burger-modal {
        display: block;
        position: relative;
        width: 22px;
        height: 22px;
        cursor: pointer;
    }


    .burger-modal:before {
        display: block;
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        background-color: var(--accent-white-color);
        top: 10px;
        border-radius: 2px;
        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .burger-modal:after {
        display: block;
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        background-color: var(--accent-white-color);
        top: 10px;
        border-radius: 2px;
        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .burger-modal:before {
        /* transform: rotate(-135deg); */
        transform: rotate(-135deg)
    }

    .burger-modal:after {
        /* transform: rotate(135deg); */
        transform: rotate(135deg)
    }

    .close-modal.burger-modal.activ-burger:before {
        transform: rotate(-135deg);
        bottom: 0;
        top: 10px;
    }

    .close-modal .burger-modal.activ-burger:after {
        transform: rotate(135deg);
        top: 10px;
    }

    .list-open-modal {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        justify-content: center;
    }

    .list-open-item {
        font-family: var(--font-cap-medium);
        color: var(--accent-white-color);
        text-decoration: underline;
    }

    .header_modal_order_btn {
        display: block;
        border-radius: 60px;
        background: var(--accent-color);
        font-family: var(--font-cap-medium);
        color: var(--accent-white-color);
        padding: 18px 24px 18px 24px;
        border: none;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 64px;
    }

    .container-mob-menu ul {
        justify-items: start;
        margin-top: auto;
        margin-bottom: auto;
    }
}


@media screen and (min-width:768px) {

    .nav-item:nth-child(2),
    .nav-item:nth-child(3) {
        display: list-item;

    }

    .nav-item:nth-child(4) {
        display: none;
    }

    .header_order_btn {
        display: inline-block;
        border-radius: 60px;
        background: var(--accent-color);
        font-family: var(--font-cap-medium);
        color: var(--accent-white-color);
        padding: 18px 24px 18px 24px;
        border: none;
    }

    .header_order_btn:hover,
    .header_order_btn:focus {
        animation: pulse 1000ms;
        box-shadow: 0 0 0 2em transparent;
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 var(--accent-color);
        }
    }

    .header_menu {
        font-family: var(--font-cap-medium);
        color: var(--accent-white-color);
        padding: 10px;
        text-decoration-line: underline;
        background: transparent;
        border: none;
    }

    .list-menu-header {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 1300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .list-menu-header-item a {
        color: var(--accent-white-color);
        font-family: var(--font-cap-medium);
    }

    .list-menu-header-item:nth-child(even) {
        transform: translateX(-500%);

    }

    .list-menu-header-item:nth-child(odd) {
        transform: translateX(500%);

    }

    .list-menu-header-item {
        transition: all 1300ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }
}
