/* Стилі шрифтів та кольори

=========Дефолтні===========
font-family: var(--font-cap-regular)
===========================

========Приклад як прописувати=====
font-family: var(--font-cap-extrabold);
==========================

-------Список жирності----
100   var(--font-cap-thin)
200   var(--font-cap-extralight)
300   var(--font-cap-light)
400   var(--font-cap-regular)
500   var(--font-cap-medium)
600   var(--font-cap-semibold)
700   var(--font-cap-bold) 
800   var(--font-cap-extrabold)
900   var(--font-cap-black)
-------Список жирності ----

=======Кольори======
--main-black-color: #1C1D20;
--secondary-color: #242527;
--dark-grey-color: #3B3B3B;
--accent-color: #ED3B44;
--accent-white-color: #FAFAFA;
=======Кольори======

====Як прописувати колір====
color: var(--main-black-color);
====Як прописувати колір====
*/

.section-decor {
  background-image: url('../img/hero/Hero-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 280px;
}

.hero-title {
  margin-bottom: 212px;
  margin-left: auto;
  margin-right: auto;
  max-width: 343px;
  height: 250px;
  color: var(--accent-white-color);
  font-family: var(--font-cap-medium);
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

.responsive-heading {
  display: flex; /* Используем flex контейнер */
  flex-wrap: wrap; /* Разрешаем перенос строк внутри flex контейнера */
}

.first-line {
  white-space: nowrap; /* Предотвращаем перенос текста на новую строку */
}

.second-line {
  flex-grow: 1; /* Растягиваем вторую часть текста на всю доступную ширину */
  height: 200px;
}

.dud {
  color: #757575;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.mail-btn {
  background-color: transparent;
  padding: 10px 12px;
  border-radius: 60px;
  border: 1px solid var(--dark-grey-color);
  color: var(--accent-white-color);
  font-family: var(--font-cap-medium);
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}
.item {
  background-color: transparent;
  padding: 10px 8px;
  border-radius: 60px;
  border: 1px solid var(--dark-grey-color);
  color: var(--accent-white-color);
  font-family: var(--font-cap-medium);
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
/* .item button {
  background-color: transparent;
  border-color: transparent;
  color: var(--accent-white-color);
  padding: 0;
} */

.item-1 {
  padding: 10px 12px;
}
.item-2 {
  padding: 10px 10px;
}
.item-3 {
  padding: 10px 11px;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: url(../img/hero/Hero-mobile@2x.png);
  }
}

@media screen and (min-width: 375px) {
  .buttons {
    flex-direction: row;
    gap: 4px;
  }
}
/* ==========END 375PX ========================= */
/* ======================768PX ================= */
@media screen and (min-width: 768px) {
  .section-decor {
    background-image: url('../img/hero/Hero-tablet.png');
    padding-top: 300px;
  }

  .hero-title {
    margin-bottom: 187px;
    padding-bottom: 187px;
    max-width: 632px;
    height: 450px;
    font-size: 90px;
    letter-spacing: -2.7px;
  }

  .buttons {
    gap: 8px;
    justify-content: end;
  }
  .social-list {
    gap: 8px;
  }

  .mail-btn {
    padding: 18px 24px;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: -0.32px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mail-btn:hover {
    border: 1px solid var(--accent-white-color);
  }

  .item {
    padding: 18px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item:hover {
    border: 1px solid var(--accent-white-color);
    animation: rotateOnce 1s;
  }

  @keyframes rotateOnce {
    0% {
      transform: rotate(0deg); /* Начальное положение */
    }
    100% {
      transform: rotate(360deg); /* Положение после 360 градусов поворота */
    }
  }
  .item-1 {
    padding: 18px 20px;
  }
  .item-2 {
    padding: 18px 17px;
  }
  .item-3 {
    padding: 18px 18px;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: url(../img/hero/Hero-tablet@2x.png);
    }
  }
}
/* ==================END 768PX ================= */
/* ================== 1440PX=================== */
@media screen and (min-width: 1440px) {
  .section-decor {
    background-image: url('../img/hero/hero_bg.jpeg');
  }

  .hero-title {
    margin-bottom: 243px;
    max-width: 1084px;
    height: 280px;
  }

  .item {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: url(../img/hero/hero_bg@2x.jpeg);
    }
  }
}