/* Section projects mobile style */
.section-projects {
    font-family: var(--font-cap-medium);
    background-color: var(--main-black-color);
    color: var(--accent-white-color);
}

.swiper.swiper1 {
    margin-bottom: 32px;
}

.title-projects {
    margin-bottom: 32px;
    font-family: var(--font-cap-semibold);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.slide-description {
    background-color: var(--accent-white-color);
    color: var(--main-black-color);
    padding: 32px;
    border-radius: 24px 24px 0 0;
}

.slide-description-programs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 6px;
    margin-bottom: 96px;
}

.slide-description-programs-item {
    display: block;
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    padding: 13px 18px;
    height: 45px;
    letter-spacing: -0.02em;
    color: var(--main-black-color);
    background-color: var(--accent-white-color);
}

.slide-description-text {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: var(--main-black-color);
    margin-bottom: 32px;
}

.slide-description-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    width: 141px;
    height: 45px;
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-description-button:hover,
.slide-description-button:focus {
    background-color: #e0373f;
}

.slide-description-button p {
    letter-spacing: -0.02em;
    color: var(--accent-white-color);
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-description-button:hover p,
.slide-description-button:focus p,
.slide-description-button:active p {
    transform: scale(1.2);
}

.slide-wrapper-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 24px 24px;
    height: 395px;
    background-color: var(--secondary-color);
}

.slide-img {
    display: block;
    width: 311px;
    height: 195px;
}

.wrapper-btn-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

div .swiper-btn-prev,
div .swiper-btn-next {
    position: static;
    margin-top: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    width: 52px;
    height: 52px;
    border: 1px solid rgba(250, 250, 250, 0.5);
}

.swiper-btn-prev .btn-arrow-prev,
.swiper-btn-next .btn-arrow-next {
    width: 25px;
    height: 24px;
    stroke: var(--accent-white-color);
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.swiper-btn-prev:hover .btn-arrow-prev,
.swiper-btn-next:hover .btn-arrow-next,
.swiper-btn-prev:focus .btn-arrow-prev,
.swiper-btn-next:focus .btn-arrow-next,
.swiper-btn-prev:active .btn-arrow-prev,
.swiper-btn-next:active .btn-arrow-next {
    transform: scale(1.2);
}

div .swiper-button-prev.swiper-button-disabled,
div .swiper-button-next.swiper-button-disabled {
    opacity: 0.2;
}


/* Section projects tablet style */
@media screen and (min-width: 768px) {
    .swiper.swiper1 {
        margin-bottom: 64px;
    }
    .slide-description {
        padding: 64px;
    }
    .slide-description-programs {
        flex-wrap: nowrap;
        margin-bottom: 164px;
    }
    .slide-description-programs-item {
        padding: 18px;
        height: 55px;
    }
    .slide-description-text {
        width: 494px;
        font-size: 44px;
        line-height: 1;
    }
    .slide-description-button {
        width: 177px;
        height: 55px;
    }
    .slide-wrapper-img {
        height: 625px;
    }
    .slide-img {
        width: 614px;
        height: 385px;
    }
    .wrapper-btn-arrows {
        gap: 20px;
    }
    div .swiper-btn-prev,
    div .swiper-btn-next {
        width: 68px;
        height: 68px;
    }
    .swiper-btn-prev .btn-arrow-prev,
    .swiper-btn-next .btn-arrow-next {
        width: 32px;
        height: 32px;
    }
}

/* Section projects desktop style */
@media screen and (min-width: 1440px) {
    .swiper.swiper1 {
        margin-bottom: 46px;
    }
    .swiper-wrapper-slides .swiper-slide {
        display: flex;
        flex-direction: row;
    }
    .slide-description {
        border-radius: 24px 0 0 24px;
        width: 688px;
    }
    .slide-description-programs {
        margin-bottom: 223px;
    }
    .slide-wrapper-img {
        width: 688px;
        height: 625px;
        border-radius: 0 24px 24px 0;
    }
}